footer{
    font-family: 'Roboto', sans-serif;
    background-color: rgba(53, 53, 53, 1);
    color: white;
    padding-top: 10px;
    padding-bottom: 5px;
    
    h3{
        padding-left: 40px;
        font-family: "Shrikhand", serif;
        font-weight: 400;

    }

    ul{
        list-style: none;
    }

    li{
        padding-bottom: 10px;
    }

    a{
        color: white;
    }

    i{
        padding-right: 10px;
    }
}



@media (min-width: 767.98px){
footer{
    padding-top: 50px;
    box-sizing: border-box;
    .nav{
        display: flex;
        flex-direction: row-reverse;
        gap: 25px;
        justify-content: right;
        margin-right: 30px;
    }

    ul{
        gap:10px;
    }
    
    li{
        display: inline;
        gap:16px;
    }
}
}