
header{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    justify-content: center;
    position: relative;
    
    .logo{
        width: 100%;
        padding-top: 10px;
        img{
            height: 40px;
        }

        
        .fa-arrow-left{
            position: absolute;
            left: 50px;
            top: 15px;
        }
     
    }

    .location{
        padding-right: 10px;
    }

    .arrownoshow{
        display:none
    }


}

    .bar-search{
        border-top: 2px solid #F2F2F2;
        border-bottom: 2px solid #F2F2F2;
        background-color: #EAEAEA;
        gap:17px;
        height:50px;
        padding-top: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 16px;
        .place{
            text-align: center;
        }

        .loc{
            padding-right: 5px;
        }

    }

    input{
        background-color: #EAEAEA;
        border: none;
        font-size: 16px;
    }

    input:focus{
        background-color: #EAEAEA;
        outline: none;
    }

    ::placeholder{
        color: black;
        height:19px;
        font-weight: 700;
        font-size: 16px;
}


/***Media Queries***/
@media (min-width: 767.98px){
.logo{
    margin-top: 15px;
    margin-bottom: 15px;
}
}