
header{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    justify-content: center;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px;
    padding-top: 5px;
    padding-bottom: 10px;
    .logo{
        width: 100%;
        padding-top: 10px;
        img{
            height: 40px;
        }

        
        .fa-arrow-left{
            position: absolute;
            left: 20px;
            top: 25px;
            font-size: 20px;


        }
     
    }


}

/***Media Queries***/
@media (min-width: 767.98px){
header{
padding-top: 10px;
padding-bottom: 15px;
}
}