.reservation{
    background-color: #F3F3F3;
    text-align: center;
    padding: 25px;
    h1{
        margin-top: 0px;
        font-size: 24px;
        font-weight: bold;
    }
    p{
        font-size:18px;
        font-weight: 300;
    }
    .etapes{
        background-color: #F6F6F6;
    }
}
.title{
    img{
        width: 100%;
    }
}
.buttonsearch{
    font-family: 'Roboto', sans-serif;
    color: white;
    background:linear-gradient( #FF79DA ,#9356DC 100%);
    height: 50px;
    border-radius: 25px;
    box-shadow:0,4,10,0;
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    text-align: center;


    &:hover{
        filter: brightness(115%);
    }
}
.fonctionnement{
    padding: 15px;
    background-color: white;
    padding-left: 25px;
    position: relative;
    margin-left: auto;
    margin-right: auto;



    .etapes{
        font-size: 16px;
        font-weight: 500;
        padding-left: 20px;

        .number{
            position: absolute;
            left: -15px;
            color: white;
            border-radius: 50%;
            background-color: #9356DC;
            padding: 5px;
            display: flex;
            align-items: center;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
        }
    
    }
    .stage{
        background-color:#F6F6F6;
        padding-left: 13px;
        border-radius: 15px;
        margin-bottom: 20px;
        padding-top: 30px;
        padding-bottom:30px;
        filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.1));
        width: 25%;
    }
    i{
        color: #9356DC;
        padding-left: 10px;
        padding-right: 10px;
        border: #9356DC;
    }

}
.restaurants{
    background-color: #F3F3F3;
    padding: 15px;
    padding-bottom: 30px;
    padding-left: 25px;
  
    margin-left: auto;
    margin-right: auto;
    .card{
        position: relative;
        background-color: white;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;

        .card-content{
            display: flex;
            justify-content: space-between;
            color: black;
            padding-left: 13px;
            .heart{
                padding-top: 25px;
                padding-right: 25px;
                
                .heartfull{
                    display: none;
                }
        

    
            }
        }

        .heart:hover{
        
            .heartempty{
                display: none;
            }
            .heartfull{
                display: inline;
                color:#9356DC;
                }

        }
    }



    img{
        object-fit: cover;
        width: 100%;
        height:200px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    h3{
        height:20px;
        font-size: 18px;
        font-weight: bold;
    }
    p{ 
        font-size: 17px;
        font-weight: 300;
    }

    .nouveau{
        position: absolute;
        background-color:#99E2D0;
        color:#008766;
        top: 15px;
        right: 15px;
        padding-left: 20px;
        padding-right: 20px;
        .new{
            font-weight: bold;
        }
    }


    .like{
        height:30px;
        width:15%;
    }


}

/***Media Queries***/
@media (min-width: 767.98px){

    .reservation{
        h1{
            font-size: 40px;
            font-weight: bold;
        }
    }



    .fonctionnement{
        padding-left: 180px;

        .step{
            background-color: white;
            display: flex;
            padding-right: 30px;
            gap: 50px;
            padding-left: 25px;
        }
        .etapes{
            padding-right: 60px;
        }
        i{
            padding-right: 15px;
        }


    }

    .restaurants{
            box-sizing: border-box;
            padding-left: 180px;
        .restos{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 100px;
                padding-right: 180px;
        }

        .nouveau{
                top: 10px;
        }

    }

}