.title{
        font-family: "Shrikhand", serif;
        background-color: #F6F6F6;
        background-clip: border-box;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    
        .resto{
            display: flex;
            flex-direction: row;
            
            h1{
            font-size: 28px;
            padding-left: 15px;
            }

            i{
                text-align: end;
                padding-left:35px;
                padding-top:20px;
                width: 22px;
                height: 21px;

            }
        }
}

.menu{
        font-family: 'Roboto', sans-serif;
        padding-left: 15px;
        h2{
            font-weight: 300;
            font-size: 16px;
        }
    
    .card{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 10px;
        border-radius: 15px;
    }
    .card-content{
        background-color: white;
        color: black;
        padding-left: 13px;
        justify-content: space-between;
        border-radius: 15px;
    }

    .prix{
        text-align: end;
        padding-right: 15px;
        font-weight: bold;
    }


}

.commande{
        text-align: center;
        .com{
            padding: 15px;
            margin-left: 20px;
            margin-right: 20px;
        }
}

/***Media Queries***/
@media (min-width: 767.98px){

.title{
    box-sizing: border-box;


    .image{

        img{
            height: 956px;
            width: 100%;
        }
    
    }

    .resto{
        justify-content: center;

        i{
            padding-left: 15px;
        }
    }
}

.menu{
    box-sizing: border-box;
    padding-left: 180px;
    padding-right: 180px;


}

.commande{
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
}


}