body {
  margin: 0;
}

main {
  font-family: "Roboto", sans-serif;
  background-color: #F3F3F3;
  color: black;
}

a {
  text-decoration: none;
}

header {
  font-family: "Roboto", sans-serif;
  text-align: center;
  justify-content: center;
}
header .logo {
  width: 100%;
}
header .location {
  padding-right: 10px;
}
header .arrow {
  width: 100%;
  text-align: center;
}

.bar-search {
  border-top: 2px solid #F2F2F2;
  border-bottom: 2px solid #F2F2F2;
  background-color: #EAEAEA;
  gap: 17px;
  height: 50px;
  padding-top: 20px;
  padding-left: 40%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-self: center;
}

input {
  background-color: #EAEAEA;
  border: none;
}

input:focus {
  background-color: #EAEAEA;
  outline: none;
}

::-moz-placeholder {
  color: black;
  height: 19px;
  font-weight: 700;
}

::placeholder {
  color: black;
  height: 19px;
  font-weight: 700;
}

/***Media Queries***/
.reservation {
  text-align: center;
  padding-bottom: 25px;
}
.reservation h1 {
  font-size: 24px;
  font-weight: bold;
}
.reservation p {
  font-size: 18px;
  font-weight: 300;
}
.reservation .etapes {
  background-color: #F6F6F6;
}

.title img {
  width: 100%;
}

.buttonsearch {
  font-family: "Roboto", sans-serif;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  height: 50px;
  border-radius: 25px;
  box-shadow: 0, 4, 10, 0;
  padding: 15px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  text-align: center;
}

.fonctionnement {
  padding: 15px;
  background-color: white;
}
.fonctionnement .etapes {
  font-size: 16px;
  font-weight: 500;
}
.fonctionnement .stage {
  background-color: #F6F6F6;
  padding-left: 13px;
  border-radius: 15px;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.1));
}
.fonctionnement i {
  color: #9356DC;
  padding-left: 10px;
  padding-right: 10px;
}

.restaurants {
  padding: 15px;
  padding-bottom: 30px;
}
.restaurants .card {
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.restaurants .card-content {
  display: flex;
  justify-content: space-between;
  color: black;
  padding-left: 13px;
}
.restaurants .heart {
  padding-top: 25px;
  padding-right: 25px;
}
.restaurants img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants h3 {
  height: 20px;
  font-size: 18px;
  font-weight: bold;
}
.restaurants p {
  height: 24px;
  font-size: 17px;
  font-weight: 300;
}
.restaurants .like {
  height: 30px;
  width: 10%;
}

/***Media Queries***/
@media (min-width: 767.98px) {
  .reservation h1 {
    font-size: 40px;
    font-weight: bold;
  }
  .fonctionnement {
    padding-left: 180px;
  }
  .fonctionnement .step {
    background-color: white;
    display: flex;
    padding-right: 30px;
    gap: 50px;
  }
  .fonctionnement .etapes {
    padding-right: 60px;
  }
  .fonctionnement i {
    padding-right: 15px;
  }
  .restaurants {
    box-sizing: border-box;
    padding-left: 180px;
  }
  .restaurants .restos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    padding-right: 180px;
  }
}
footer {
  font-family: "Roboto", sans-serif;
  background-color: rgb(53, 53, 53);
  color: white;
}
footer h3 {
  padding-left: 40px;
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: italic;
}
footer ul {
  list-style: none;
}
footer li {
  padding-bottom: 15px;
}
footer a {
  gap: 15px;
  color: white;
}
footer i {
  padding-right: 10px;
}

/***Media Queries***/
@media (min-width: 767.98px) {
  footer {
    padding-top: 50px;
    box-sizing: border-box;
  }
  footer .nav {
    display: flex;
    flex-direction: row-reverse;
    gap: 25px;
    justify-content: center;
  }
  footer li {
    display: inline;
    gap: 16px;
  }
}
.menu {
  font-family: "Roboto", sans-serif;
}
.menu .logo {
  display: flex;
}
.menu .title {
  background-color: #F6F6F6;
  background-clip: border-box;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.menu .title .resto {
  display: flex;
  flex-direction: row;
}
.menu .title .resto h1 {
  font-weight: 300;
  font-size: 16px;
}
.menu .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 15px;
}
.menu .card-content {
  background-color: white;
  color: black;
  padding-left: 13px;
  justify-content: space-between;
  border-radius: 15px;
}
.menu .prix {
  text-align: end;
}
.menu .title h1 {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: italic;
}
.menu .commande {
  justify-content: center;
}/*# sourceMappingURL=main.css.map */