body {
  margin: 0;
}

main {
  font-family: "Roboto", sans-serif;
  color: black;
}

a {
  text-decoration: none;
}

header {
  font-family: "Roboto", sans-serif;
  text-align: center;
  justify-content: center;
  position: relative;
}
header .logo {
  width: 100%;
  padding-top: 10px;
}
header .logo img {
  height: 40px;
}
header .logo .fa-arrow-left {
  position: absolute;
  left: 50px;
  top: 15px;
}
header .location {
  padding-right: 10px;
}
header .arrownoshow {
  display: none;
}

.bar-search {
  border-top: 2px solid #F2F2F2;
  border-bottom: 2px solid #F2F2F2;
  background-color: #EAEAEA;
  gap: 17px;
  height: 50px;
  padding-top: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 16px;
}
.bar-search .place {
  text-align: center;
}
.bar-search .loc {
  padding-right: 5px;
}

input {
  background-color: #EAEAEA;
  border: none;
  font-size: 16px;
}

input:focus {
  background-color: #EAEAEA;
  outline: none;
}

::-moz-placeholder {
  color: black;
  height: 19px;
  font-weight: 700;
  font-size: 16px;
}

::placeholder {
  color: black;
  height: 19px;
  font-weight: 700;
  font-size: 16px;
}

/***Media Queries***/
@media (min-width: 767.98px) {
  .logo {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
.reservation {
  background-color: #F3F3F3;
  text-align: center;
  padding: 25px;
}
.reservation h1 {
  margin-top: 0px;
  font-size: 24px;
  font-weight: bold;
}
.reservation p {
  font-size: 18px;
  font-weight: 300;
}
.reservation .etapes {
  background-color: #F6F6F6;
}

.title img {
  width: 100%;
}

.buttonsearch {
  font-family: "Roboto", sans-serif;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  height: 50px;
  border-radius: 25px;
  box-shadow: 0, 4, 10, 0;
  padding: 15px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  text-align: center;
}

.fonctionnement {
  padding: 15px;
  background-color: white;
  padding-left: 25px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.fonctionnement .etapes {
  font-size: 16px;
  font-weight: 500;
}
.fonctionnement .etapes .number {
  position: absolute;
  left: -20px;
}
.fonctionnement .stage {
  background-color: #F6F6F6;
  padding-left: 13px;
  border-radius: 15px;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.1));
}
.fonctionnement i {
  color: #9356DC;
  padding-left: 10px;
  padding-right: 10px;
}

.restaurants {
  background-color: #F3F3F3;
  padding: 15px;
  padding-bottom: 30px;
  padding-left: 25px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.restaurants .card {
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.restaurants .card-content {
  display: flex;
  justify-content: space-between;
  color: black;
  padding-left: 13px;
}
.restaurants .heart {
  padding-top: 25px;
  padding-right: 25px;
}
.restaurants .heart .heartfull {
  display: none;
}
.restaurants .heart:hover .heartempty {
  display: none;
}
.restaurants .heart:hover .heartfull {
  color: #9356DC;
  display: inline;
}
.restaurants img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants h3 {
  height: 20px;
  font-size: 18px;
  font-weight: bold;
}
.restaurants p {
  font-size: 17px;
  font-weight: 300;
}
.restaurants .nouveau {
  position: absolute;
  background-color: #99E2D0;
  color: #008766;
  top: 100px;
  left: 350px;
  padding-left: 20px;
  padding-right: 20px;
}
.restaurants .nouveau .new {
  font-weight: bold;
}
.restaurants .nouveau-2 {
  position: absolute;
  background-color: #99E2D0;
  color: #008766;
  top: 400px;
  left: 350px;
  padding-left: 20px;
  padding-right: 20px;
}
.restaurants .nouveau-2 .new {
  font-weight: bold;
}
.restaurants .like {
  height: 30px;
  width: 15%;
}

/***Media Queries***/
@media (min-width: 767.98px) {
  .reservation h1 {
    font-size: 40px;
    font-weight: bold;
  }
  .fonctionnement {
    padding-left: 180px;
  }
  .fonctionnement .step {
    background-color: white;
    display: flex;
    padding-right: 30px;
    gap: 50px;
    padding-left: 25px;
  }
  .fonctionnement .etapes {
    padding-right: 60px;
  }
  .fonctionnement i {
    padding-right: 15px;
  }
  .restaurants {
    box-sizing: border-box;
    padding-left: 180px;
  }
  .restaurants .restos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    padding-right: 180px;
  }
  .restaurants .nouveau {
    top: 100px;
    left: 775px;
  }
  .restaurants .nouveau-2 {
    top: 100px;
    left: 1575px;
  }
}
footer {
  font-family: "Roboto", sans-serif;
  background-color: rgb(53, 53, 53);
  color: white;
}
footer h3 {
  padding-left: 40px;
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: italic;
}
footer ul {
  list-style: none;
}
footer li {
  padding-bottom: 15px;
}
footer a {
  gap: 25px;
  color: white;
}
footer i {
  padding-right: 10px;
}

/***Media Queries***/
@media (min-width: 767.98px) {
  footer {
    padding-top: 50px;
    box-sizing: border-box;
  }
  footer .nav {
    display: flex;
    flex-direction: row-reverse;
    gap: 25px;
    justify-content: right;
    margin-right: 30px;
  }
  footer ul {
    gap: 10px;
  }
  footer li {
    display: inline;
    gap: 16px;
  }
}
.image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 275px;
}

.bloc-menu {
  position: relative;
  background-color: #f6f6f6;
  max-width: 1055px;
  margin-left: auto;
  margin-right: auto;
}
.bloc-menu .heart {
  padding-right: 25px;
}
.bloc-menu .heart .heartfull {
  display: none;
}
.bloc-menu .heart:hover .heartempty {
  display: none;
}
.bloc-menu .heart:hover .heartfull {
  color: #9356DC;
  display: inline;
}
.bloc-menu .bg-grey {
  background-color: #f6f6f6;
  height: 50px;
  width: 100%;
  position: absolute;
  top: -50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.bloc-menu .title {
  font-family: "Shrikhand", serif;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: center;
}
.bloc-menu .title i {
  text-align: end;
  padding-left: 25px;
  padding-top: 30px;
  width: 22px;
  height: 21px;
}
.bloc-menu .title .resto {
  display: flex;
  flex-direction: row;
}
.bloc-menu .title .resto h1 {
  font-size: 28px;
  padding-left: 15px;
}
.bloc-menu .menu {
  font-family: "Roboto", sans-serif;
}
.bloc-menu .menu h2 {
  display: block;
  width: 6%;
  font-weight: 300;
  font-size: 16px;
  border-bottom: 3px solid #99E2D0;
}
.bloc-menu .menu .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 15px;
}
.bloc-menu .menu .card-content {
  display: flex;
  background-color: white;
  color: black;
  padding-left: 13px;
  justify-content: space-between;
  border-radius: 15px;
}
.bloc-menu .menu .prix {
  text-align: end;
  padding-right: 15px;
  font-weight: bold;
  padding-top: 40px;
}
.bloc-menu .menu .checkmark {
  box-sizing: border-box;
  margin-left: -300px;
  background-color: white;
  padding-top: 40px;
}
.bloc-menu .menu .checkmark .fa-circle-check {
  padding-left: 20px;
  justify-content: center;
  color: white;
}
.bloc-menu .menu .checkmark:hover {
  margin: 0;
  background-color: #99E2D0;
  padding-top: 40px;
  padding-right: 25px;
  width: 20%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.bloc-menu .menu .checkmark:hover .fa-circle-check {
  padding-left: 60px;
  justify-content: center;
  color: white;
}
.bloc-menu .commande {
  text-align: center;
}
.bloc-menu .commande .com {
  padding: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

/***Media Queries***/
@media (min-width: 767.98px) {
  .image img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 383px;
  }
  .title {
    box-sizing: border-box;
  }
  .title .resto {
    justify-content: center;
  }
  .title .resto i {
    padding-left: 15px;
  }
  .menu {
    box-sizing: border-box;
    padding-left: 180px;
    padding-right: 180px;
  }
  .commande {
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
  }
}/*# sourceMappingURL=main.css.map */