header {
  font-family: "Roboto", sans-serif;
  text-align: center;
  justify-content: center;
}
header .logo {
  width: 100%;
}
header .location {
  padding-right: 10px;
}
header .arrow {
  width: 100%;
  text-align: center;
}
header .bar-search {
  border-top: 2px solid #F2F2F2;
  border-bottom: 2px solid #F2F2F2;
  background-color: #EAEAEA;
  gap: 17px;
  width: 100%;
  height: 50px;
  padding-top: 20px;
  padding-left: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
header input {
  background-color: #EAEAEA;
  border: none;
}
header input:focus {
  background-color: #EAEAEA;
  outline: none;
}
header ::-moz-placeholder {
  color: black;
  height: 19px;
  font-weight: 500;
}
header ::placeholder {
  color: black;
  height: 19px;
  font-weight: 500;
}

/***Media Queries***/
footer {
  font-family: "Roboto", sans-serif;
  background-color: rgb(53, 53, 53);
  color: white;
}
footer h3 {
  padding-left: 40px;
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: italic;
}
footer ul {
  list-style: none;
}
footer li {
  padding-bottom: 15px;
}
footer a {
  gap: 15px;
  color: white;
}
footer i {
  padding-right: 10px;
}

/***Media Queries***/
main {
  font-family: "Roboto", sans-serif;
  background-color: #F3F3F3;
  color: black;
}
main .reservation {
  text-align: center;
  padding-bottom: 25px;
}
main .reservation h1 {
  font-size: 24px;
  font-weight: bold;
}
main .reservation p {
  font-size: 18px;
  font-weight: 300;
}
main .reservation .etapes {
  background-color: #F6F6F6;
}
main .title img {
  width: 100%;
}
main .buttonsearch {
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  height: 50px;
  border-radius: 25px;
  box-shadow: 0, 4, 10, 0;
  padding: 15px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  text-align: center;
}
main .fonctionnement {
  padding-top: 30px;
  background-color: white;
  padding-bottom: 30px;
  gap: 25px;
}
main .fonctionnement .etapes {
  font-size: 16px;
  font-weight: 500;
}
main .fonctionnement .stage {
  display: flex;
  background-color: #F6F6F6;
  padding-left: 13px;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.1));
}
main .fonctionnement i {
  color: #9356DC;
  padding-left: 10px;
  padding-right: 10px;
}
main .restaurants .card-content {
  display: flex;
  background-color: white;
  color: black;
  padding-left: 13px;
  flex-direction: column;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
main .restaurants img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
main .restaurants h3 {
  height: 20px;
  font-size: 18px;
  font-weight: bold;
}
main .restaurants p {
  height: 24px;
  font-size: 17px;
  font-weight: 300;
}
main .restaurants .like {
  height: 30px;
  width: 10%;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 15px;
}

.card-content {
  display: flex;
  background-color: white;
  color: black;
  padding-left: 13px;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
}

/***Media Queries***//*# sourceMappingURL=main.css.map */